.clientBox {
  border: 0.25rem double gray;
  background-color: #dcdcdc;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 1.875rem 4.25rem;
}
.clientBoxHeader {
  margin: 0 0 1.5rem 0.5rem;
  border: 0.09rem outset gray;
  padding: 0 0.5rem;
  border-radius: 1.875rem 7.25rem;
  text-align: center;
  box-sizing: border-box;
}
