.container {
  max-width: 70rem;
  /* margin: 2rem auto; */
  /* padding: 0 1rem; */

  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
