.container {
  max-width: inherit;
  margin: 0.5rem;
  /* margin-bottom: 0.8rem; */
  /* padding: 0 1rem; */

  /* display: flex; */
  grid-template-columns: 20rem 1fr;
  gap: 3rem;
  align-items: center;
}

.main {
  display: grid;
  justify-content: center;
  /* align-items: center; */
}
